PORT=8787
HOST=0.0.0.0
GALLERY_MEDIA_FOLDER=影像备份
GALLERY_DISK_SERIAL=REPLACE_WITH_DISK_SERIAL
GALLERY_UPLOAD_PASSWORD=REPLACE_WITH_UPLOAD_PASSWORD
CHMLFRP_FRPC_PATH=C:\Users\18488\AppData\Roaming\net.chmlfrp.launcher\frpc.exe
CHMLFRP_USER_TOKEN=REPLACE_WITH_CHMLFRP_USER_TOKEN
GALLERY_PUBLIC_STATUS_URL=http://photo.fucku.top/api/status
